.navbar-nav {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-item {
    margin-top: 60px; /* Atur sesuai kebutuhan Anda */
}

.navbar-nav .nav-link {
    padding: 10px;
    display: inline-block;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}

