.iconText{
    font-size: 12px;
    text-align: center;
    margin: auto;
    
}

.header-action-btn{
    text-align: center;
    margin: auto;
   

}

.iconDiv{
    text-align: center;
    margin: auto;
    
}